body {
	background-color: rgb(56,124,115);
}

#petition {
	margin-top: 2%;
	padding-bottom: 1%;
	border-bottom: 2px solid lightgray;
}

#petition a {
	color : black;
	font-size: 120%;
	text-decoration: none;
}

#petition a:hover {
	color: rgb(56,124,115);
}

#titre {
	margin-bottom: 1%;
}

#descr {
	width: 74%;
	float: right;
	padding-left : 2%;
}

#info {
	float: left;
	width: 70%;
	margin-top: 1%;
}

#signa {
	color: rgb(56,124,115);
}

#petition button {
	margin-top: 1%;}


.img_petition {
	width: 25%;
	height: auto;
}
#loading {
	margin: auto;
}
#abo-left {
	border: 2px solid black;
	width: 50%;
	float: left;
}

#abo-right {
	border: 2px solid black;
	width: 49%;
	float: right;
}

/* Début du système d'onglet du feed */

.tab {
	overflow: hidden;
	border: 1px solid #ccc;
	margin-bottom: 0;
	border-radius: 4px;
	background-color: #ffffff;
}

.tab .tablinks {
	background-color: inherit;
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 1%;
	transition: 0.3s;
	font-size: 100%;
}

.tab .tablinks:hover {
	background-color: #ddd;
}

.titre_tab{
	margin-right:10%;
	text-align:center;
	margin-top:1%;
}

#actuel {
	background-color: #ccc;
}

/*Fin système onglet*/

#research {
	resize: none;
	width: 80%;
	height: 41px;	
}

#uploadFormm {
	display: flex;
	width: 40%;
	float: right;
	flex-direction: row;
}

form button {
	height: 100%;
}

#haut {
	position: fixed;
	display: none;
	cursor:pointer;
	right: 5%;
	bottom : 5%;
}
